{% extends "base.html" %}
{% block title %}IWR-HCI software repository{% endblock %}
{% block main_body %}

<div class="container" role="main">
  <div class="jumbotron">
    <img src="hciLogoSmall.png" alt="">
    <p></p>
    <p>Welcome to the HCI research software page!</p>
    <p>
    This website contains a collection of research code, hosted on the <a href="http://hci-repo.iwr.uni-heidelberg.de">GitLab instance of the HCI</a>.
    </p>
    <p><a class="btn btn-primary btn-mm" href="repos.html" role="button">Take me to the list of repositories &raquo;</a></p>
  </div>
</div>
{% endblock %}
